In [1]:
import numpy as py
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer

In [2]:
dataset = pd.read_excel('dataKasus1.xlsx')
dataset

      NO      NAMA   USIA  ...  SOSEK RENDAH PE/Non PE Unnamed: 12
0      1    NAMA 1  23 TH  ...          >UMR    Non PE         NaN
1      2    NAMA 2  29 TH  ...          >UMR        PE         NaN
2      3    NAMA 3  20 TH  ...          >UMR    Non PE         NaN
3      4    NAMA 4  18 TH  ...          >UMR    Non PE         NaN
4      5    NAMA 5  34 TH  ...          >UMR    Non PE         NaN
..   ...       ...    ...  ...           ...       ...         ...
556  558  NAMA 557  40 TH  ...          >UMR    Non PE         NaN
557  559  NAMA 558  28 TH  ...          >UMR    Non PE         NaN
558  560  NAMA 559  41 TH  ...          >UMR    Non PE         NaN
559  561  NAMA 560  32 TH  ...          >UMR    Non PE         NaN
560  562  NAMA 561  30 TH  ...          >UMR    Non PE         NaN

[561 rows x 13 columns]

In [3]:
dataset = dataset.drop(columns=['Unnamed: 12'])

In [4]:
dataset.columns = dataset.columns.str.strip()
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   NO                                561 non-null    int64
 1   NAMA                              561 non-null    object
 2   USIA                              558 non-null    object
 3   PARITAS                           561 non-null    int64
 4   JARAK KELAHIRAN                   554 non-null    object
 5   RIW HIPERTENSI                    561 non-null    object
 6   RIW PE                            561 non-null    object
 7   OBESITAS                          561 non-null    object
 8   RIW DM                            561 non-null    object
 9   RIW HIPERTENSI/PE DALAM KELUARGA  561 non-null    object
 10  SOSEK RENDAH                      561 non-null    object
 11  PE/Non PE                         561 non-null    object
dtypes: int64(2), object(10)
memory usage: 52.7+ KB

In [5]:
# Mengubah data menjadi string dan menghitung nilai unik
value_counts = dataset['USIA'].astype(str).value_counts(dropna=False)
print(value_counts)

USIA
28 TH     28
25 TH     24
31 TH     23
29 TH     22
24 TH     21
          ..
30 th      1
23         1
37         1
39 TH      1
14 TH      1
Name: count, Length: 73, dtype: int64

In [13]:
# Mengisi nilai  dengan string kosong
dataset['USIA'] = dataset['USIA'].fillna('')

# Menghapus spasi ekstra dan mengambil angka
dataset['USIA'] = dataset['USIA'].str.strip().str.extract('(\d+)')[0]

# Mengonvrensi ke tipe data numerik
dataset['USIA'] = pd.to_numeric(dataset['USIA'], errors='coerce')

#Mengisi nilai NAN dengan rata - rata Usia DA
dataset['USIA'] = dataset['USIA'].fillna(dataset['USIA'].mean())

In [15]:
# Mengubah data menjadi string dan hitung nilai unik

value_counts = dataset['USIA'].astype(str).value_counts(dropna=False)

print(value_counts)

USIA
nan    561
Name: count, dtype: int64

In [17]:
#Mengubah data menjadi string dan menghitung nilai unik

value_counts = dataset['PARITAS'].astype(str).value_counts(dropna=False)
print(value_counts)

PARITAS
1    228
2    186
3     82
0     39
4     20
5      3
6      3
Name: count, dtype: int64

In [20]:
# Mengubah data menjadi string dan menghitung nilai unik
value_counts = dataset['JARAK KELAHIRAN'].astype(str).value_counts(dropna=False)

print( value_counts)

JARAK KELAHIRAN
anak pertama    260
> 2 tahun       211
< 2 tahun        81
nan               7
> 2 tahun         2
Name: count, dtype: int64

In [21]:
imputer = SimpleImputer(strategy='most_frequent')
from sklearn.preprocessing import LabelEncoder

In [24]:
dataset['JARAK KELAHIRAN'] = imputer.fit_transform(dataset[['JARAK KELAHIRAN']]).ravel()
# menggati nilai >2 tahun dengan > 2 tahun

dataset['JARAK KELAHIRAN'] = dataset['JARAK KELAHIRAN'].replace('>2 tahun' , '> 2 tahun')

In [26]:
# Mengubah menjadi string dan menghitung nilai unik
value_counts = dataset['JARAK KELAHIRAN'].astype(str).value_counts(dropna=False)

print(value_counts)

JARAK KELAHIRAN
anak pertama    267
> 2 tahun       211
< 2 tahun        81
> 2 tahun         2
Name: count, dtype: int64

In [28]:
# Mengubah menjadi string dan menghitung nilai unik
value_counts = dataset['RIW HIPERTENSI'].astype(str).value_counts(dropna=False)

print(value_counts)

RIW HIPERTENSI
Tidak    508
Ya        53
Name: count, dtype: int64